<mat-card class="main-content">
  <mat-card-header>
    <div class="flex-title">
      <div class="left">
        <mat-card-title class="card-title">Germany Univeristy</mat-card-title>
        <mat-card-subtitle class="card-subtitle">Browse information and view location</mat-card-subtitle>
      </div>
      <div class="right">
        <mat-icon svgIcon="germany" class="title-flag"></mat-icon>
      </div>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div class="flex-content">
      <div class="left">
        <div id="map" class="map"></div>
      </div>
      <div class="right">
        <div class="flex-uni-info">
          <h2 class="flex-uni-info-title">Everest University of Germany</h2>
          <h3 class="flex-uni-info-desc">Address: Hamburg</h3>
          <h3 class="flex-uni-info-desc">Street: Strass Dr 45</h3>
          <button mat-raised-button (click)="facultyNavigate()">View Faculties</button>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>