.home-content {
    margin-top: 80px;
    margin-left: 150px;
    margin-bottom: 80px;
    margin-right: 130px;
    position: absolute;
    width: 80%;
    height: 75%;
    top: 0;
    left: 0;
  }
  
  .forum-container-title {
    font-size: 80px;
    font-family: title;
    display: inline-block;
    line-height: 0.9;
    border-bottom: 2px solid currentColor;
  }
  
  .forum-container-subtitle {
    font-size: 18px;
    font-family: title;
  }
  